# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.venv/

# Node / Frontend
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Cache
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Environment
.env

# OS
Thumbs.db
Desktop.ini
.DS_Store

# PyInstaller
*.spec.bak
